*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}
header{
  background-color: #48c5ce;
  text-align: center;
  color: white;
  padding: 10px;
}
.title{
  font-size: 26px;
}
.container{
  max-width: 1000px;
  margin: auto;
}
section{
  padding: 20px;
  background-image: url('../images/palestra.jpg');
}
.form-container{
  max-width: 230px;
  background-color: #FFFFFFBB;
  padding: 20px;
  //float: right;
}
h2{
  font-size: 16px;
}
.mb{
  margin-bottom: 15px;
}
input, select{
  width: 100%;
  box-sizing: border-box;
  padding: 3px;
  border: none;
  margin-bottom: 10px;
}
input[type="submit"]{
  color: white;
  background-color: #48c5ce;
  font-weight: bold;
}
select{
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url('../images/arrow.jpg');
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
}